*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: #000000;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #111;
}
.parent{
  height: 100%;
  width: 100%;
  background-color: #111;
  padding: 30px;
}
.card{
  height: 400px;
  width : 300px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;

}

.card .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding:2px;


}
.top center {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-text-fill-color: black;
}