*{
  margin : 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica nreue';
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #111;

}
.parent{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.Card{
  width : 300px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #222;

}
.Card img{
  width: 60%;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.Card p{
  margin: 20px 0;
}
.Card button {
  padding: 10px;
  border: none;
  background-color: white;
  color: black;
  border-radius: 5px;
}